@fontface {
  font-family: 'Playfair Display', serif;
  src: url('https://fonts.googleapis.com/css?family=Playfair+Display:700')}

.headermenu{
  color: white;
  background-color: #000033;
  padding: 0px;
  margin: 0px;}

.headermenu ul li a{
  color: white;
  font-size: 16px;
  text-transform: uppercase;;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}

.headermenu ul{
  padding: 0px;
  margin: 0px;
}

.logo {
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 0px;
 margin-bottom: 0px;
 margin-top: 10px;
}
